<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <menu>
            <a href="/">Inicio</a>
            <a href="/about">Sobre nosotros</a>
            <a href="/contact">Contact</a>
        </menu>
    </header>
<a href="/con"><button>Crud Mongo</button></a>
</body>
</html>